[submodule "TechnionMatam"]
	path = TechnionMatam
	url = https://github.com/PNone/TechnionMatam.git
[submodule "MatamGenericTester"]
	path = MatamGenericTester
	url = https://github.com/PNone/MatamGenericTester.git
